{% extends 'layout.twig' %}

{% block content %}
    <div class="">
        <h2>Bemvindo de novo a esta plataforma.</h2>
    </div><br>
    <div class="">
        <h5>
            <strong>AVISO:</strong>
            Esta plataforma de informação é de uso exclusivo dos colaboradores
            da empresa Omatapalo - Engenharia e Construção, S.A.<br>
            Todos os dados aqui apresentados são confidenciais. Os colaboradores
            são responsáveis pelo não tornar publico o conteudo desta aplicação.
            Só poderá ser divulgado publicamente os documentos explicitamente
            assim declarados.
        </h5>
    </div>
    <div class="">
        <h5>Qualquer dificuldade, por favor contacte-nos através do seguinte endereço electrónico:
            <a href="mailto:luisalves@omatapalo.com?subject=comunicação de problema">
                Suporte Técnico</a>
        </h5>
        <picture>
          <source srcset="public/img/amc-large.jpg" media="(min-width: 800px)">
          <source srcset="public/img/amc-medium.jpg" media="(min-width: 420px)">
          <img srcset="public/img/amc-small.jpg" alt="britador amc">
        </picture>
    </div>
{% endblock %}
