{% extends 'layout.twig' %}

{% block content %}
    <div class="">
        <h2>Bemvindo de novo a esta plataforma.</h2>
    </div><br>
    <div class="">
        <h5>
            <strong>AVISO:</strong>
            Esta plataforma de informação é de uso exclusivo dos colaboradores
            da empresa Omatapalo - Engenharia e Construção, S.A.<br>
            Todos os dados aqui apresentados são confidenciais. Os colaboradores
            são responsáveis pelo não tornar publico o conteudo desta aplicação.
            Só poderá ser divulgado publicamente os documentos explicitamente
            assim declarados.
        </h5>
    </div>
    <div class="">
        <h5>Qualquer dificuldade, por favor contacte-nos através do seguinte endereço electrónico:
            <a href="mailto:luisalves@omatapalo.com?subject=comunicação de problema">
                Suporte Técnico</a>
        </h5>

        <img style="width:100%;margin-top:40px;" src="public/img/amc.svg" alt="britador amc">
    </div>
{% endblock %}
