<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW, NOARCHIVE">
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE"/>
        <link width=250px height=250px rel='favicon icon' href='/omatapalo/public/img/favicon.ico' type='image/x-icon'/>

        {% if title %}
            <title>
                {{ title }}
            </title>
        {% else %}
            <title>
                Omatapalo, SA
            </title>
        {% endif %}

        <!--  CSS -->
        <!-- twiter bootstrap -->
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/css/bootstrap-theme.min.css">
        <!-- chosen selector -->
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/css/chosen.css">
        <!-- jquery -->
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/css/jquery-ui.css">
        <!-- date picker -->
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/css/bootstrap-datetimepicker.min.css"/>
        <!-- datatables -->
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/js/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/css/fixedHeader.dataTables.min.css"/>
        <!-- Personalizados -->
        <link rel="stylesheet" type="text/css" href="/omatapalo/public/css/style.css"/>

        <!-- JAVASCRIPT -->
        <!-- jquery -->
        <script src="/omatapalo/public/js/jquery-1.11.3.min.js"></script>
        <script src="/omatapalo/public/js/jquery.floatThead.js"></script>
        <script src="/omatapalo/public/js/jquery-ui.js"></script>
        <!-- bootstrap -->
        <script src="/omatapalo/public/js/bootstrap.min.js"></script>
        <script src="/omatapalo/public/js/moment.min.js"></script>
        <!-- chart.js -->
        <script src="/omatapalo/public/js/Chart2.5.js"></script>
        <!-- date picker -->
        <script src="/omatapalo/public/js/bootstrap-datetimepicker.min.js"></script>
        <!-- chosen selector -->
        <script src="/omatapalo/public/js/chosen.jquery.js"></script>
        <!-- datatables -->
        <script src="/omatapalo/public/js/DataTables-1.10.12/media/js/jquery.dataTables.min.js"></script>
        <script src="/omatapalo/public/js/DataTables-1.10.12/media/js/dataTables.bootstrap.min.js"></script>
        <script src="/omatapalo/public/js/FixedHeader-3.1.2/js/dataTables.fixedHeader.min.js"></script>
        <!-- Personalizados -->
        <script src="/omatapalo/public/js/scripts.js"></script>
    </head>
    <?php flush(); ?>
    <body>
        <!-- Fixed navbar -->
        <div id="navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img alt="Logo" src="/omatapalo/public/img/oma.svg" style="width:50px">
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="navbar">
                        <li >
                            <a href="/omatapalo/home">Novidades
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li >
                            <a href="/omatapalo/tabelas">Tabelas</a>
                        </li>
                        <li>
                            <a href="/omatapalo/mapas">Mapas</a>
                        </li>
                        <li>
                            <a href="/omatapalo/relatorios">Relatórios</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/omatapalo/logout">Sair</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Preferências
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">A definir</a>
                                </li>
                                <li>
                                    <a href="#">A definir</a>
                                </li>
                                <li>
                                    <a href="#">A definir</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">A definir</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="teste">
                            <a style="color:white;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                britagem
                                {{ session.ci }}
                                <span class="caret"></span>
                            </a>
                            <ul id="alterar-ci" class="dropdown-menu">
                                <li>
                                    <a data-ci="arimba">Britagem Arimba</a>
                                </li>
                                <li>
                                    <a data-ci="caraculo">Britagem Caraculo</a>
                                </li>
                                <li>
                                    <a data-ci="cassosso">Britagem Cassosso</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a style="color:black;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ session.ano }}
                                <span class="caret"></span>
                            </a>
                            <ul id="alterar-ano" class="dropdown-menu">
                                <li>
                                    <a data-ano="2017" href="#">2017</a>
                                </li>
                                <li>
                                    <a data-ano="2016" href="#">2016</a>
                                </li>
                                <li>
                                    <a data-ano="2015" href="#">2015</a>
                                </li>
                                <li>
                                    <a data-ano="2014" href="#">2014</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>

        <!-- Begin page content -->
        <div class="container" style="margin-top:80px;margin-bottom:0px;">

            {% block content %}{% endblock %}

        </div>

        <br><br><br><br>
        <div class="container" style="height:3em;margin-top:140px">
            <footer class="text-center navbar-default navbar-fixed-bottom">
                <span class="container-fluid">
                    Omatapalo, S.A. &#169; 2017
                </span>
            </footer>
        </div>

    </body>

    <style media="screen">
    @media screen and (max-width:990px;) {
        #navbar, li {
            font-size: 0.95em;
        }

    }
    </style>

    <script>
        $("#alterar-ci [data-ci]").click(function(event) {
            // pega o ano selecionado pelo evento do clique
            var value = $(this).data("ci");
            // executa uma função em ajax direcionando para outra página em PHP que irá trocar a sessão
            var url = "/omatapalo/cind";

            var currentUrl = window.location.href;

            $.post(url, {
                ci: value
            }, function() {
                window.location.href = currentUrl;
                // window.location.href = "/omatapalo/home";
            });

            event.preventDefault();
        });
    </script>
    <script>
        $("#alterar-ano [data-ano]").click(function(event) {
            // pega o ano selecionado pelo evento do clique
            var value = $(this).data("ano");
            // executa uma função em ajax direcionando para outra página em PHP que irá trocar a sessão
            var url = "/omatapalo/ano";

            var currentUrl = window.location.href;

            $.post(url, {
                ano: value
            }, function() {
                window.location.href = currentUrl;
            });

            event.preventDefault();
        });
    </script>

</html>
