<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/omatapalo_v3/public/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel='favicon icon' href='/omatapalo_v3/public/img/favicon.ico' type='image/x-icon'/>
        <style media="screen">
            body {
                padding-top: 120px;
                padding-bottom: 40px;
                background-color: #eee;
            }
            .form-signin {
                max-width: 430px;
                padding: 15px;
                margin: 0 auto;
            }
            .form-signin .checkbox,
            .form-signin .form-signin-heading {
                margin-bottom: 10px;
            }
            .form-signin .checkbox {
                font-weight: normal;
            }
            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }
            .form-signin .form-control:focus {
                z-index: 2;
            }
            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            .form-signin-heading {
                text-align: center;
            }
            .form-signin-alert {
                text-align: center;
                color: red;
            }
            img {
                width: 270px;
                height: 270px;
            }
            .pai {
                width: 100%;
                margin: 0 auto;
                padding-left: 20%;
                padding-right: 20%;
            }
            .esquerda {
                width: 50%;
                float: left;
                text-align: center;
            }
            .direita {
                width: 50%;
                float: left;
                text-align: center;
            }

        </style>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <div class="contasiner pai">
            <div class="esquerda">
                <img src="/omatapalo_v3/public/img/oma.svg" alt="logotipo">
            </div>
            <div class="direita">
                <form class="form-signin" action="/omatapalo_v3/login" method="post">
                    <h2 class="form-signin-heading">Introduza os seus dados</h2>
                    {% if erroLogin is defined %}
                        <h3 class="form-signin-alert">Utilizador ou palavra passe errada</h3>
                    {% endif %}
                    <label for="inputEmail" class="sr-only">Endereço Electrónico</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Palavra-passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <!-- <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me">
                        Lembrar-me
                    </label>
                </div> -->
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </body>

</html>
